/* style.css */

body {
    background-color: #303841; /* Dark gray-blue background color */
    color: #eeeeee; /* Light gray text color */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #2c3e50; /* Golden yellow */
}

h2, h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #344f6b; /* Coral red */
}

p {
    font-size: 18px;
    line-height: 1.6;
    /* margin-bottom: 20px; */
}

a {
    color: #6b5b95; /* Purple */
}
