/* Navbar styling */
.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 7px;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  /* opacity: 0.9; */
  font-weight: bold;
  transition: 0.6s;
  height: 35px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Common styling for left and right links */
.left-links, .right-links {
  display: flex;
  align-items: center;
}

/* Styling for navbar links */
.navbar a {
  color: #000;
  text-decoration: none;
  margin: 0 10px; 
  padding-top: 1px; 
  padding-bottom: 1px;
  display: inline-block;
}

/* Styling for the logo */
.logo {
  flex: 1;
  text-align: center;
}

/* Styling for navbar images */
.navbar img {
  height: 95%;
  margin-left: 0px;
}

/* Hover effect for navbar links */
.navbar a:hover {
  background-color: gray;
  border-radius: 5px;
}

/* Hide nav-links by default */
.nav-links {
  display: none;
  backdrop-filter: blur(10px);
}

/* Media Query for Dropdown Menu */
@media only screen and (max-width: 990px) {
  /* Hide both left and right links by default */
  .left-links, .right-links {
    display: none;
  }
  
  /* Show nav-links dropdown menu */
  .nav-links {
    backdrop-filter: blur(10px);
    /* display: none; */
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    z-index: 1;
    border-radius: 7px;
  }

  /* Show nav-links dropdown menu on hover */
  .navbar:hover .nav-links {
    display: block;
  }

  /* Styling for nav-links in dropdown menu */
  .nav-links {
    align-items: flex-start;
  }

  .nav-links a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: 0.5s;
  }
  /* Hover effect for nav-links in dropdown menu */

  .nav-links a:hover {
    background-color: gray;
  }
}
